/* MAIN INICIO */

main {
  background-color: #85f1f1;
  display: flex;
  max-width: 1400px;
  margin: auto;

  .container {
    padding: 20px;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.__indexcuadros1 {
  border: 1px solid #f84c09;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 15px;
  line-height: 1.5rem;
  color: #f84c09;
  text-align: center;
  margin: 10px 20px 10px 20px;
}

.__indexcuadros2 {
  border: 1px solid #0f1ff9;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 15px;
  line-height: 1.5rem;
  color: #0f1ff9;
  text-align: center;
  margin: 10px 20px 10px 20px;
}

.__indexcuadros3 {
  border: 1px solid #fc0b33;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 15px;
  line-height: 1.5rem;
  color: #fc0b33;
  text-align: center;
  margin: 10px 20px 10px 20px;
}
