/* MAIN  */

main {
  background-color: #85f1f1;
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.container {
  padding: 20px;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
