* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.container_header {
  background-color: #cf0e9b;
  font-family: "Amatic SC", cursive;
  display: flex;
  max-width: 1400px;
  margin: auto;
  flex-direction: column;
}

h1 {
  letter-spacing: 20px;
  animation: iluminar 2.4s infinite;
}

@keyframes iluminar {
  0% {
    color: #fff900;
  }
  20% {
    color: #1b7fdb;
    text-shadow: none;
  }

  40% {
    color: #261784;
    text-shadow: none;
  }
  60% {
    color: #484848;
    text-shadow: none;
  }

  80% {
    color: #540df3;
    text-shadow: none;
  }

  100% {
    color: #841ADEs;
    text-shadow: 10% 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

.header_barranavegacion {
  justify-content: center;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  margin: 10px;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  font-size: medium;
  text-align: center;
  margin-bottom: 10px;
  color: #bd0bf8;
}

#imagen_logo {
  display: inline-block;
  text-align: center;
}

nav a:hover {
  color: #f7fdfd;
}

.titulo {
  color: #85f1f1;
  text-align: center;
}

/* MAIN  */

main {
  background-color: #85f1f1;
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.container {
  padding: 20px;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN INICIO */

.__indexcuadros1 {
  border: 1px solid #f84c09;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 15px;
  line-height: 1.5rem;
  color: #f84c09;
  text-align: center;
  margin-bottom: 20px;
}

.__indexcuadros2 {
  border: 1px solid #0f1ff9;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 15px;
  line-height: 1.5rem;
  color: #0f1ff9;
  text-align: center;
  margin-bottom: 20px;
}

.__indexcuadros3 {
  border: 1px solid #fc0b33;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 2px 4px 15px;
  line-height: 1.5rem;
  color: #fc0b33;
  text-align: center;
}

/* MAIN PRODUCTOS */

.main_productos {
  display: grid;
  grid-template-columns: (2, 1fr);
}

article {
  display: flex;
  flex: 0 1 100px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white;
  font-family: "Amatic SC", cursive;
  align-items: center;
  line-height: 1.5rem;
  margin: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center;
}

article img {
  order: -1;
  align-self: center;
  border-radius: 1rem;
}

article button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.5rem;
}

.btn:hover {
  color: #cf0e9b;
  background-color: white;
  border: 2px solid #cf0e9b;
}

.btn {
  border: 1px solid black;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  align-items: center;
}

/* MAIN COMO COMPRAR */

.__comocomprar {
  line-height: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid #cf0e9b;
  box-shadow: 3px 4px 15px #cf0e9b;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

._licomo {
  color: black;
}

.__titulocomocompra {
  font-family: "Amatic SC", cursive;
  color: #cf0e9b;
}

/* MAIN ENVIOS */

.main_envios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 150px;
  width: 250px;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

._titulometodoenvio {
  font-family: "Amatic SC", cursive;
  margin-bottom: 1rem;
  color: #cf0e9b;
  margin-top: 0.5rem;
}

.cuadro_envios {
  border: 2px solid #cf0e9b;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 2rem;
}

._textoenvios {
  color: black;
}

/* MAIN CONTACTO */

.row {
  align-items: center;
  justify-content: center;
  display: flex;
}

.foto_contacto {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  display: none;
  width: 20%;
}

.__cuadrocontacto {
  border: 1px solid salmon;
  text-align: center;
  line-height: 2.5rem;
  padding: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.col-auto {
  color: #cf0e9b;
  border-radius: 5px;
}

/*  FOOTER  */

footer {
  background-color: #cf0e9b;
  max-width: 1400px;
}

.container_footer {
  align-items: center;
  justify-content: center;
  display: block;
  display: flex;
  font-family: "Caveat", cursive;
  padding: 10px;
  max-width: 1400px;
  margin: auto;
}

.texto_footer {
  margin: 10px;
}

.instagram_footer {
  margin: 10px;
}

/*  MEDIA QUERIES  */

/* VISTA DESKTOP */

@media (min-width: 720px) {
  .container_header {
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
  }

  .header_barranavegacion {
    padding-right: 20px;
  }

  .main_productos {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: (4, 1fr);
  }

  .foto_contacto {
    display: block;
    width: 20%;
  }

  .__comocomprar {
    line-height: 2rem;
    height: 25rem;
    width: 40rem;
    margin-bottom: 2rem;
    margin-left: 22rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .__cuadrocomomcomprar {
    margin-top: 5rem;
    height: 35rem;
  }

  /* CUADROS INDEX */

  .container {
    display: flex;
    flex-direction: row;
  }

  .__indexcuadros1 {
    transform: rotate(-10deg);
    padding: 60px;
    margin-top: 75px;
    margin-left: 50px;
    margin-bottom: 100px;
    height: 270px;
    width: 300px;
    justify-content: center;
  }

  .__indexcuadros2 {
    transform: rotate(5deg);
    padding: 40px;
    margin-top: 75px;
    margin-left: 100px;
    margin-bottom: 100px;
    height: 270px;
    width: 300px;
    justify-content: center;
  }

  .__indexcuadros3 {
    transform: rotate(10deg);
    margin-left: 50px;
    margin-top: 75px;
    margin-right: 45px;
    margin-bottom: 100px;
    height: 270px;
    width: 300px;
    padding: 60px;
    justify-content: center;
  }

  /* ENVIOS */

  iframe {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: inline;
  }
}
