/* MAIN COMO COMPRAR */

.__comocomprar {
  line-height: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid $colorprincipal;
  box-shadow: 3px 4px 15px $colorprincipal;
  margin: 50px;
  align-items: center;
  justify-content: center;

  ._licomo {
    color: black;
  }

  .__titulocomocompra {
    font-family: "Amatic SC", cursive;
    color: $colorprincipal;
  }
}
