/*  FOOTER  */

footer {
  background-color: $colorprincipal;
  max-width: 1400px;

  .container_footer {
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Caveat", cursive;
    padding: 10px;
    max-width: 1400px;
    margin: auto;
    border-top: 1px solid #cf0e9b;
    flex-direction: block;
  }

  .texto_footer {
    margin: 10px;
  }

  .instagram_footer {
    margin: 10px;
  }
}
