/*  FOOTER  */

footer {
  background-color: $colorprincipal;
  max-width: 1400px;

  .container_footer {
    align-items: center;
    justify-content: center;
    display: block;
    display: flex;
    font-family: "Caveat", cursive;
    padding: 10px;
    max-width: 1400px;
    margin: auto;
  }

  .texto_footer {
    margin: 10px;
  }

  hr .s {
    border: 1px solid #cf0e9b;
    height: 2px;
    margin: auto;
    margin-left: auto;
  }

  .instagram_footer {
    margin: 10px;
  }
}
