/* MAIN COMO COMPRAR */

.main {
  background-color: $colorprincipal;
}

.__comocomprar {
  line-height: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid #cf0e9b;
  box-shadow: 3px 4px 15px #cf0e9b;
  margin: 50px;
  align-items: center;
  justify-content: center;

  ._licomo {
    color: black;
  }

  .__titulocomocompra {
    font-family: "Amatic SC", cursive;
    color: #cf0e9b;
  }
}
