/* MAIN CONTACTO */

.main {
  background-color: $colorprincipal;
}

.row {
  align-items: center;
  justify-content: center;
  display: flex;

  .__cuadrocontacto {
    border: 2px solid salmon;
    text-align: center;
    line-height: 4rem;
    padding: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 450px;
    width: 300px;
  }
  .col-auto {
    color: #cf0e9b;
    border-radius: 5px;
  }
}

.foto_contacto {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  display: none;
  width: 20%;
}
