/* MAIN INICIO */

main {
  background-color: $colorprincipal;
  display: flex;
  max-width: 1400px;
  margin: auto;

  .container {
    padding: 20px;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin cuadrosindex {
  letter-spacing: 2px;
  border-radius: 15px;
  line-height: 1.5rem;
  text-align: center;
  margin: 10px 20px 10px 20px;
  font-family: "Amatic SC", cursive;
  border: 2.5px solid salmon;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  line-height: 2.2rem;
  background-color: white;
}

.__titulo {
  font-family: "Amatic SC", cursive;
  margin-bottom: 1rem;
  color: #cf0e9b;
  margin-top: 0.5rem;
}

.__indexcuadros1 {
  @include cuadrosindex;
}

.__indexcuadros2 {
  @include cuadrosindex;
}

.__indexcuadros3 {
  @include cuadrosindex;
}
