/* MAIN PRODUCTOS */

main {
  background-color: $colorprincipal;
}

.main_productos {
  display: grid;
  grid-template-columns: (1fr);

  article {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: white;
    font-family: "Amatic SC", cursive;
    align-items: center;
    line-height: 1.5rem;
    margin: 20px 50px 20px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 220px;

    article img {
      order: -1;
      align-self: center;
      border-radius: 2rem;
    }
  }

  article button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.5rem;
  }
  .btn:hover {
    color: #cf0e9b;
    background-color: white;
    border: 2px solid #cf0e9b;
  }

  .btn {
    border: 1px solid black;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    align-items: center;
  }
}
